.container {
    width: 413px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    overflow: hidden;
  margin: auto;
}

.imgWrapper {
    width: 413px;
    height: 388px;  
    position: relative;  
}

.contentWrapper {
    display: flex;   
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.title {
    font-weight: 600;
font-size: 24px;
line-height: 1.33333;
}

.description {
    text-align: center;
     max-width: 351px;
  font-weight: 500;
font-size: 16px;
line-height: 1.25;  
}

.reset {
  width: fit-content;
  margin: 0 auto;
  padding: 11px 37px;
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  transition: border-color 0.2s ease;
}

.reset:hover,
.reset:focus {
  border-color: var(--blue-accent);
}