.carCard {
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 464px;
  padding: 16px;
  border-radius: 16px;
  background: var(--white);
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
}

.imgWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 2.5%,
    rgba(18, 20, 23, 0) 41.07%
  );
  pointer-events: none;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0 24px;
}

.cardTitleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.model {
  color: var(--blue);
}

.cardInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  padding: 8px;
  background-color: var(--background-grey);
  border-radius: 8px;
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cardInfo span {
  position: relative;
}

.cardInfo span + span::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: var(--grey-accent);
}

.link {
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 81px;
  background-color: var(--blue);
  border-radius: 12px;
   transition: background-color 0.2s ease;
}

.link:hover,
.link:focus {
  background-color: var(--blue-accent);
}
