.hero {
  width: 100%;
  min-width: 320px;
  min-height: calc(100dvh - 68px);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 160px;
  position: relative;
  z-index: 2;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 12px;
  padding: 12px 99px;
  transition: background-color 0.2s ease;
}

.button:hover,
.button:focus {
  background-color: var(--blue-accent);
}
